<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script" />
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="ares.dll" />
                <add value="glogon.html" />
                <add value=" default.asp" />
                <add value=" default.html" />
                <add value=" index.html" />
                <add value=" default.shtml" />
            </files>
        </defaultDocument>
        <httpErrors>
            <clear />
        </httpErrors>
        <httpProtocol allowKeepAlive="true">
            <customHeaders>
                <add name="CloseHeader" value="\r\n\r\n" />
            </customHeaders>
        </httpProtocol>
        <staticContent>
            <clientCache cacheControlMode="NoControl" />
        </staticContent>
        <httpRedirect enabled="false" destination="http://ares.library.yale.edu/cas/" />
    </system.webServer>
</configuration>
